{% extends 'planner/base.html' %}

{% block title %}
   Events
{% endblock %}

{% block main %}
   <ul>
    {% for event in events %}
    <li>
      <a href="{% url 'planner:event' event.id %}">
       {{ event }}
      </a>
    </li>
    {% empty %}
       No events have been added yet. <a href="{% url 'planner:add_event' %}"> Add</a> an event
    {% endfor %}
   </ul>
   <footer class="medium text-center text-muted">
    <a href="{% url 'planner:add_event' %}">Add New Event</a>
  </footer>
{% endblock %}