
{% extends 'planner/base.html' %}

{% block header %}
    <div class='jumbotron'>
    	<h2>Plan Your Work</h2>
    </div>
{% endblock %}

{% block main %}
    {% if user.is_authenticated %}
        <h1>Welcome to the planner board</h1>
    {% else %}
    <h2>Register<a href="{% url 'users:register' %}"> here</a> with your Slack username to join the plan.</h2>
    <div>
    	<h2>If you have an account <a href="{% url 'users:login' %}">login</a></h2>
    </div>
    
    {% endif %}

{% endblock %}
